* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contain {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pauseContain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: fit-content;
    padding: 5vw;
    background-color: black;
}

.pauseTitle {
    font-size: 2vw;
    color: white;
}